<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title in Chasok</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body> 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
          
    <div class="container body-content">
        <div class="navbar navbar-inverse ">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Chasok", "Index", "Home")</li>               
                <li>@Html.ActionLink("Chat", "Chat", "Home")</li>
                <li><a href="#">Income Message<span class="badge" id="cell">0</span></a></li>               
            </ul>
            <ul class="nav navbar-nav tab-content">
                @Html.Partial("_LoginPartial");
            </ul>
        </div>
        
        <div class="col-md-11">            
              @RenderBody()            
        </div>
        <hr />      
        
    </div>
    <footer class="col-md-12">
        <div >
            <p>&copy; @DateTime.Now.Year – Chasok</p>
        </div>
    </footer>

    <script>
        function updateTimer() {
        var cell = document.getElementById('cell');
        var count = Number(cell.innerHTML);

        cell.innerHTML = count += 1;
        };

        setInterval(updateTimer, 1000);
    </script>
    
</body>
</html>
